// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#define APSTUDIO_READONLY_SYMBOLS
#include <winres.h>
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_LISTDIALOG DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTERMOUSE | WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST1,0,0,310,176,LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP
END

IDD_DIALOG_COUNTER DIALOGEX 0, 0, 186, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Counter Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,34,50,14
    RTEXT           "Digits:",IDC_STATIC,7,11,40,10
    EDITTEXT        IDC_EDIT_COUNTERDIGITS,53,7,51,14,ES_AUTOHSCROLL
    RTEXT           "Next value:",IDC_STATIC,7,26,40,10
    EDITTEXT        IDC_EDIT_NEXTCOUNTERVALUE,53,22,51,14,ES_AUTOHSCROLL
    CONTROL         "Hexadecimal",IDC_CHECK_HEXCOUNTER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,38,69,10
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon1.ico"

IDI_ICON2               ICON                    "icon2.ico"

IDI_ICON3               ICON                    "icon3.ico"

IDI_ICON4               ICON                    "icon4.ico"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
